In [16]:
import numpy as np, pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

In [4]:
train = pd.read_csv('../dataset/train.csv', index_col = 'id')
test = pd.read_csv('../dataset/test.csv', index_col = 'id')

In [12]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 250000 entries, 750000 to 999999
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Temparature  250000 non-null  int64
 1   Humidity     250000 non-null  int64
 2   Moisture     250000 non-null  int64
 3   Soil Type    250000 non-null  object
 4   Crop Type    250000 non-null  object
 5   Nitrogen     250000 non-null  int64
 6   Potassium    250000 non-null  int64
 7   Phosphorous  250000 non-null  int64
dtypes: int64(6), object(2)
memory usage: 17.2+ MB

In [10]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 750000 entries, 0 to 749999
Data columns (total 9 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Temparature      750000 non-null  int64
 1   Humidity         750000 non-null  int64
 2   Moisture         750000 non-null  int64
 3   Soil Type        750000 non-null  object
 4   Crop Type        750000 non-null  object
 5   Nitrogen         750000 non-null  int64
 6   Potassium        750000 non-null  int64
 7   Phosphorous      750000 non-null  int64
 8   Fertilizer Name  750000 non-null  object
dtypes: int64(6), object(3)
memory usage: 57.2+ MB

In [13]:
train.head()

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name
id,,,,,,,,,
0,37,70,36,Clayey,Sugarcane,36,4,5,28-28
1,27,69,65,Sandy,Millets,30,6,18,28-28
2,29,63,32,Sandy,Millets,24,12,16,17-17-17
3,35,62,54,Sandy,Barley,39,12,4,10-26-26
4,35,58,43,Red,Paddy,37,2,16,DAP

In [20]:
train['Fertilizer Name'].value_counts()

14-35-14    114436
10-26-26    113887
17-17-17    112453
28-28       111158
20-20       110889
DAP          94860
Urea         92317
Name: Fertilizer Name, dtype: int64

As per Wikipedia: (N-P-K labeling)
- Urea: 46-0-0
- DAP: 18-46-0 to 11-55-0

I'm assuming 20-20 and 28-28 are 0-20-20-0 and 0-28-28 respectively

### Transform Training Data

In [ ]:
train.rename(columns={'Temparature':'Temp', 'Nitrogen':'N','Potassium':'K','Phosphorous':'P'}, inplace=True)
train.head()            # lol

    Temp  Humidity  Moisture Soil Type  Crop Type   N   K   P Fertilizer Name
id
0     37        70        36    Clayey  Sugarcane  36   4   5           28-28
1     27        69        65     Sandy    Millets  30   6  18           28-28
2     29        63        32     Sandy    Millets  24  12  16        17-17-17
3     35        62        54     Sandy     Barley  39  12   4        10-26-26
4     35        58        43       Red      Paddy  37   2  16             DAP

In [26]:
print(train['Soil Type'].value_counts())
train['Crop Type'].value_counts()

Sandy     156710
Black     150956
Clayey    148382
Red       148102
Loamy     145850
Name: Soil Type, dtype: int64

Paddy          85754
Pulses         78180
Cotton         69171
Tobacco        68000
Wheat          66628
Millets        65291
Barley         65045
Sugarcane      64269
Oil seeds      64184
Maize          62569
Ground Nuts    60909
Name: Crop Type, dtype: int64

In [8]:
train.describe()

,Temparature,Humidity,Moisture,Nitrogen,Potassium,Phosphorous
count,750000.000000,750000.000000,750000.000000,750000.000000,750000.000000,750000.000000
mean,31.503565,61.038912,45.184147,23.093808,9.478296,21.073227
std,4.025574,6.647695,11.794594,11.216125,5.765622,12.346831
min,25.000000,50.000000,25.000000,4.000000,0.000000,0.000000
25%,28.000000,55.000000,35.000000,13.000000,4.000000,10.000000
50%,32.000000,61.000000,45.000000,23.000000,9.000000,21.000000
75%,35.000000,67.000000,55.000000,33.000000,14.000000,32.000000
max,38.000000,72.000000,65.000000,42.000000,19.000000,42.000000

### Output